# Application Port
PORT=8888

# Database Configuration
DB_HOST=localhost
DB_PORT=3306
# ATUALIZADO: Use o novo usuário criado no init.sql
DB_USERNAME=uaga_user
# ATUALIZADO: Use a nova senha definida no init.sql
DB_PASSWORD=uaga_password
DB_DATABASE=uagabd
DB_SYNCHRONIZE=false

# JWT Secret for Authentication
JWT_SECRET=your_super_secret_key